{{!-- <nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			
      <a class="navbar-brand" href="/">Comic Blog</a>
		</div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/register">Register<span class="glyphicon glyphicon-user"></span></a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a><li>
        
      </ul>
      	
	</div>
</nav> --}}

{{!-- <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Artist Alley</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/register">Sign Up</a></li>
        <li><a href="/login">Log In</a></li>
      </ul>
    </div>
  </nav> --}}

  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Artists Alley</a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/register">Sign Up</a></li>
        <li class="active"><a href="/login">Log In</a></li>
      </ul>
    </div>
  </nav>