{{> mainNavBar}}


<div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="http://community.wacom.com/~/media/community/blog/2014/february/5%20questions%20with%20illustrator%20rob%20prior/support%20image%201.ashx?la=en&hash=DCF9EEC41DC66902F09175ABA7D0BFD9A7B46A42">
          <span class="card-title"> {{ username }} </span>
          <a class="btn-floating halfway-fab waves-effect waves-light red" href="/post"><i class="material-icons">+</a>  
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>

